/* nagybetûs stílus */

@import url('normalize.css');
@import url('alapstilus.css');

body {
    font-size:2em;
}

#gyengenlato {
    height: auto;
    width: 350px;
}
#gyengenlato #nagybetu {
    display: none;
}
#gyengenlato #normalbetu {
    display: block;
}
#gyengenlato a {
    font-size: 42px;
}
#gyengenlato .ikon {
    background-position-x: -330px;
}

#oldalmenu ul {
    flex-wrap: wrap;
}

.aside {
    float: none;
    width: 90%;
    margin: 0 30px 20px 0;
}

#kirakas {
    columns: 1;
}

.figure {
    float: none;
    width: 150px;
    text-align: center;
}